footer{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    background-color: #1F1D1D;
    color: white;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
}
.socials a{
    background-color: #000;
    padding: 10px;
    border-radius: 3px;
    color: #FBCE43;
    font-weight: bold;
}

img{
    width: 100px;
    height: 30px;    
}